@model DAL.Models.POC_MarketplaceEntities
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchProduct</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <div class="container-fluid">
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">

                @Html.Partial("_loginPartialView")
            </div>
        </div>
    </nav>
    <section class="gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            @using (Html.BeginForm("SearchProduct", "Home", FormMethod.Post))
                            {

                                @Html.DropDownList("selectedCategoryID", (SelectList)ViewBag.Categories, "Category", new { @class = "btn btn-default dropdown-toggle bg-primary text-white", @id = "ddlCategories" })



                                @Html.DropDownList("selectedSubCategoryID", (SelectList)ViewBag.Subcategories, "Subcategory", new { @id = "ddlSubcategories", @class = "btn btn-default dropdown-toggle bg-primary text-white" })
                                @Html.TextBox("query", "Search", new { @class = "form-control form-control-sm" })

                                <span class="input-group-btn">
                                    <button class="btn btn-default bg-primary text-white" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </button>
                                </span>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen({
                no_results_text: "No results found!",
                width: "50%"
            });

            $("#ddlCategories").change(function () {
                var selectedCategoryID = $(this).val();

                $.ajax({
                    url: "/Home/getSubCategories",
                    type: "GET",
                    data: { categoryID: selectedCategoryID },
                    success: function (subCategories) {
                        $("#ddlSubcategories").empty();
                        $("#ddlSubcategories").append(new Option("Subcategory", ""));
                        $.each(subCategories, function (index, subCategories) {
                            $("#ddlSubcategories").append(new Option(subCategories.Name, subCategories.Id));
                        });
                        $(".chosen-select").trigger("chosen:updated");
                    },
                    error: function () {
                        alert("An error has occurred while retrieving subcategories.");
                    }
                });
            });
        });
    </script>

    <style>
        
        /*html {
            background: #f093fb;*/ /* fallback color */
        /*background: linear-gradient( to bottom, #37D5D6, #36096D);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
        }*/

        input[type="text"] {
            display: inline-block;
        }


        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
        html, body {
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%
        }

        body {
            min-height: 100%;
            background: #f093fb;
            background: -webkit-linear-gradient(to bottom right, rgba(0,0,128,1),rgba(135,206,250,1));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to bottom right, rgba(0,0,128,1),rgba(135,206,250,1));
        }
    </style>

</body>
</html>
