@model IEnumerable<DAL.Models.tblProduct>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MarketPlace</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <style>


        table tr th {
            display: block;
            border: 0.5px solid grey;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        /* Style table headers and table data */
        th, td {
            text-align: center;
            padding: 16px;
        }
    </style>
</head>
<body>


    @Html.Partial("_searchPartial")



    <div class="form-container">
        @using (Html.BeginForm("Index", "Product", FormMethod.Post))
        {
            <p>
                Find by Year: Min @Html.TextBox("MinYear", ViewBag.MinYear as string)
                Max @Html.TextBox("MaxYear", ViewBag.MaxYear as string)
            </p>
            <p>
                Find by Brand: @Html.TextBox("Brand", ViewBag.Model as string)
            </p>

            <p>
                Find by Usage: @Html.TextBox("Series_Info", ViewBag.Model as string)
            </p>
            <input type="submit" value="Submit" />

        }

        @using (Html.BeginForm("Index"))
        {

            <input type="submit" value="Clear" />
        }
    </div>
    <style>

        input[type="text"] {
            width: 100px;
            height: 10px;
            padding: 5px;
            font-size: 14px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 10px #ccc;
        }

        input[type="submit"] {
            width: 80px;
            height: 26px;
            font-size: 14px;
            font-family: Arial, sans-serif;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            margin: 10px;
            align-content: flex-start;
            text-align: center;
        }

        .form-container {
            width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid lightgray;
            box-shadow: 2px 2px 10px #ccc;
        }

        table {
            padding: 20px;
            width: 100%;
            border-collapse: collapse;
            background-color: azure;
            display: table;
        }



            table tr {
                display: table-cell;
            }

                table tr td {
                    display: block;
                    border: 0.5px solid grey;
                }

            table td, table th {
                padding: 8px;
                text-align: left;
                width: 250px;
                font-family: Calibri;
                font-weight: initial;
            }

        label {
            font-weight: bold;
        }

        .product {
            border: 1px solid lightgray;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    </style>

    <table class="table">




        @using (Html.BeginForm("Compare", "Product"))
        {

            foreach (var item in Model)
            {
                <tr class="product">
                    <td height="200">
                        <img alt="FanA.jpg"
                             src="data:image/jpeg;base64,@Convert.ToBase64String(item.Product_Image)"
                             width="200" height="200" />
                    </td>
                    <td>
                        <label> Brand: </label>
                        @Html.DisplayFor(modelItem => item.Product_Name)
                    </td>
                    <td>
                        <label> Series: </label>
                        @Html.DisplayFor(modelItem => item.Series)
                    </td>
                    <td>
                        <label> Model: </label>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        <label> Year: </label>
                        @Html.DisplayFor(modelItem => item.Model_Year)
                    </td>
                    <td>
                        <label> Series Info: </label>
                        @Html.DisplayFor(modelItem => item.Series_Info)
                    </td>
                    <td>
                        <label> Feature: </label>
                        @Html.DisplayFor(modelItem => item.Feature)
                    </td>
                    <td>
                        <input type="checkbox" name="compareCB" value=@item.Product_ID>
                    </td>
                </tr>
            }


        }



    </table>
    <input type="submit" value="compare">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen({
                no_results_text: "No results found!",
                width: "50%"
            });

            $("#ddlCategories").change(function () {
                var selectedCategoryID = $(this).val();

                $.ajax({
                    url: "/Home/getSubCategories",
                    type: "GET",
                    data: { categoryID: selectedCategoryID },
                    success: function (subCategories) {
                        $("#ddlSubcategories").empty();
                        $("#ddlSubcategories").append(new Option("Subcategory", ""));
                        $.each(subCategories, function (x, subCategories) {
                            $("#ddlSubcategories").append(new Option(subCategories.Name, subCategories.Id));
                        });
                        $(".chosen-select").trigger("chosen:updated");
                    },
                    error: function () {
                        alert("An error has occurred while retrieving subcategories.");
                    }
                });
            });
        });
    </script>


</body>
</html>